<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles1.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% block header %}{% endblock%}
</head>

<body>
    <header>

        <nav>
            <picture>
                <img src="" alt="image">
            </picture>
            <ul class="menu">
                <li><a href="{% url 'list-product' %}">Accueil</a></li>
                <li class="dropdown">
                    <a href="#">Produits</a>
                    <ul class="submenu">
                        <li><a href="{% url 'list-product-electronic' %}">Electronique </a></li>
                        <li><a href="{% url 'list-product-vetement' %}">Vetements</a></li>
                        <li><a href="{% url 'list-product-sport' %}">Sports & Loisirss</a></li>
                        <li><a href="{% url 'list-product-emballage' %}">Emballages</a></li>
                        <li><a href="{% url 'list-product-machine' %}">Machines</a></li>
                    </ul>
                </li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
                {% for group in request.user.groups.all %}
                {% if group.name == 'Fournisseur' %}
                <li><a href="{% url 'tableau-de-bord' %}">Outils</a></li>
                {% endif %}
                {% endfor %}

            </ul>
            <ul class="menu">
                {% if user.is_authenticated %}
                <li><a href="/profile"><i class="fa-solid fa-user"></i></a></li>
                <li><a href="{% url 'order-list-product' %}"><i class="fa-solid fa-cart-shopping"></i></a></li>
                <li><a href="/accounts/logout/">Déconnections</a></li>
                {% else %}
                <li><a href="/accounts/login/">se connecter</a></li>
                <li><a href="/accounts/signup/">creé compte</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <div class="container-base">
    {% block container %}{% endblock %}
    </div>
    <footer></footer>
    <div class="footer-container">
        <p class="footer-title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, veniam?</p>
    </div>
    </footer>


</body>

</html>