
{% extends 'index1.html' %}
{% block title %}
    crée-catégorie
{% endblock %}

{% block header %}
{% load static %}
<link rel="stylesheet" href="{% static 'siteweb/css/forms.css' %}">
{% endblock %}

{% block container %}
<div class="container">
    <h1 class="title">Crée une catégorie </h1>
    <form method="POST">
        {% csrf_token %}
        <table>
            {{form.as_table}}
        </table>
        <button type="submit" class="button">Crée-catégorie</button>
    </form>
</div>
{% endblock %}
