
{% extends 'index1.html' %}
{% block title %}
    Cree-produit
{% endblock %}

{% block header %}
{% load static %}
<link rel="stylesheet" href="{% static 'siteweb/css/forms.css' %}">
{% endblock %}

{% block container %}
<div class="container">
    <h1 class="title">Crée un produit</h1>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
        {{form.as_table}}
    </table>
    <button type="submit" class="button">Crée-produit</button>
</form>
</div>
{% endblock %}
