{% extends 'index1.html' %}
{% block title %}
detail-produit
{% endblock %}

{% block header %}
{% load static %}
<link rel="stylesheet" href="{% static 'siteweb/css/detail.css' %}">
{% endblock %}

{% block container %}
<h1 id="pour" style="text-align: center;">|--------------- {{product.name}} -------------------|</h1>

<article>
    {% if product.image %}
    <a href="{{ product.image.url }}">
        <div class="image-container">
            <img src="{{ product.image.url }}" alt="image">
        </div>
    </a>
    {% else %}
    <a href="{% static 'siteweb/images/image.png' %}">
        <div class="image-container">
            {# Image par défaut des articles qui n'ont pas images #}
            <img src="{% static 'siteweb/images/image.png' %}" alt="image">
        </div>
    </a>
    {% endif %}
    <div class="article-descrition">
        <div id="para">
            <h3>{{product.name}}</h3>
            Prix : {{product.price}} <br>
            fournisseur : {{product.author}}<br><br><br>
            <p>
                {{product.description}}
            </p>
        </div>

        <div class="action">
            {% if user.is_authenticated %}
            <form method="POST" action="{% url 'add-order' product_id=product.pk %}" style="text-align: center;">
                {% csrf_token %}
                <button type="submit" style="background-color: #ffb000;">Ajouter au Panier</button>
            </form><br>
            {% for group in request.user.groups.all %}
            {% if group.name == 'Fournisseur' and product.author == request.user %}
            <a style="margin-right: 45px;" href="{% url 'update-product' slug=product.slug %}"><button
                    style="background-color: #2ee72e;">Modifier</button></a>
            <a href="{% url 'delete-product' slug=product.slug %}"><button
                    style="background-color: #2ee72e;">Supprimer</button></a>
            {% endif %}
            {% endfor %}
            {% endif %}
        </div>
    </div>
</article>
{% endblock %}