<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cree-produit</title>
</head>
<body>
    <div class="container">
        {% if commands %}
        {% for command in commands %}
        <h1>Liste des produits dans le panier</h1>
        {% for product in command.order.products %}
            <div class="order-product">
                {{product.name}} quantitée commandé : {{product.quantity}}
            </div>
        {% endfor %}
        <h3>Prix total: {{command.total}}</h3>
    </div>
    {% endfor %}
    {% else %}
    <div class="container">
        <h2>Pour le moment auccune commande n'a été effectuer !</h2>
    </div>
    {% endif %}
</body>
</html>