
{% extends 'index1.html' %}
{% block title %}
    Cree-produit
{% endblock %}

{% block header %}
{% load static %}
<link rel="stylesheet" href="{% static 'siteweb/css/forms.css' %}">

{% endblock %}

{% block container %}
<div class="hist">
    <h1 >Liste des produits par commande </h1><br><br>
    {% if commands %}
    {% for command in commands %}
    <h4>Commande N° : {{forloop.counter}}</h4>
        <ol type="1" style="margin-left: 35px;">
            {% for product in command.commandproducts_set.all %}
                <li>{{ product.product.name }} - Quantité : {{ product.quantity }} - Prix unitaire : {{ product.price_at_purchase }} fcfa</li>
            {% endfor %}
        </ol>
        <h3>Prix total: {{command.total}}</h3><br>
    {% endfor %}
</div>
{% else %}
<div class= "hist">
    <h2>Pour le moment auccune commande n'a été effectuer !</h2>
</div>
{% endif %}
{% endblock %}
