{% extends 'index1.html' %}
{% block title %}
Cree-produit
{% endblock %}

{% block header %}
{% load static %}
<link rel="stylesheet" href="{% static 'siteweb/css/forms.css' %}">
{% endblock %}

{% block container %}
<div class="order">
    {% if order_product %}
    <div class="container" style=" background-color: #f0f0f0;
">
        <h1>Liste des produits du panier </h1>
        {% for product in order_product %}
        <div class="order-product">
            {{product}} <a
                href="{% url 'update-product-quantity' slug=product.products.slug pk=product.pk %}">Modifier</a>
        </div>
        {% endfor %}
        <h3>Prix total: {{total}}</h3><br>
        <form method="POST" action="{% url 'command-product' %}">
            {% csrf_token %}
            <input type="submit" value="Commander">
        </form>
    </div>
    {% else %}
    <div class="container" style="background-color: #f0f0f0;
">
        <h2>Panier vide !</h2>
    </div>
    {% endif %}
</div>
{% endblock %}