<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="L.css">
    <title>Login</title>
</head>
<body>
    
    <div class="container">
        <div class="rond"></div>
        <div class="form">
            <form method="POST">
                <label for="login">Nom utilisateur</label>
                <input type="text" id="login" class="input "  placeholder="Entrez votre nom utilisateur">
                <label for="password">Mot de passe</label>
                <input type="text" id="password" name="password" class="input " placeholder="Entrez votre mot de passe"><br>
                <input type="submit" value="Connexion" class="submit-button"><br>
                <div class="social">
                    <a href=""><button><i class="fa-brands fa-google"></i> Google</button></a>
                    <a href=""><button><i class="fa-brands fa-facebook"></i>FacebooK</button></a>
                </div>
            </form>
        </div>
        <div class="rond coler"></div>
    </div>
    </div>
</body>
</html>