<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="L.css">
    <title>Login</title>
</head>
<body>
    
    <div class="container">
        <div class="rond"></div>
        <div class="form">
            <form method="POST" id="form-logout">
                <p style="text-align: center;">Êtes-vous sûr de vouloir vous déconnecter ?</p><br>
                <div class="logout">
                    <a href="{% url 'list-product' %}"><button class="button-siez">Annuler</button></a>
                    <input type="submit" value="Déconnexion" style="background-color: #e75a5a;" class="button-siez"><br>
                </div>
            </form>
        </div>
        <div class="rond coler"></div>
    </div>
    </div>
</body>
</html>