<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="L.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/L.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles1.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Modifier mot de passe</title>
</head>
<body>
    <header>
        <nav>
            <picture>
                <img src="" alt="image">
            </picture>
            <ul class="menu">
                <li><a href="{% url 'list-product' %}">Accueil</a></li>
                <li class="dropdown">
                    <a href="#">Produits</a>
                    <ul class="submenu">
                        <li><a href="{% url 'list-product-electronic' %}">Electronique</a></li>
                        <li><a href="{% url 'list-product-vetement' %}">Vêtements</a></li>
                        <li><a href="{% url 'list-product-sport' %}">Sports & Loisirs</a></li>
                        <li><a href="{% url 'list-product-emballage' %}">Emballages</a></li>
                        <li><a href="{% url 'list-product-machine' %}">Machines</a></li>
                    </ul>
                </li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
            </ul>
            <ul class="menu">
                {% if user.is_authenticated %}
                <li><a href="/profile"><i class="fa-solid fa-user"></i></a></li>
                <li><a href="{% url 'order-list-product' %}"><i class="fa-solid fa-cart-shopping"></i></a></li>
                <li><a href="/accounts/logout/">Déconnexion</a></li>
                {% else %}
                <li><a href="/accounts/login/">Se connecter</a></li>
                <li><a href="/accounts/signup/">Créer un compte</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    
    <div class="container">
        <div class="rond"></div>
        <div class="form">
            <form method="POST">
                {% csrf_token %}
                
                <!-- Ancien mot de passe -->
                <label for="old_password">Ancien mot de passe</label>
                <input type="password" id="old_password" name="old_password" class="input form-control" 
                       placeholder="Entrez votre ancien mot de passe">
                       
                <!-- Nouveau mot de passe -->
                <label for="new_password1">Nouveau mot de passe</label>
                <input type="password" id="new_password1" name="new_password1" class="input form-control" 
                       placeholder="Entrez votre nouveau mot de passe">
                       
                <!-- Confirmation du nouveau mot de passe -->
                <label for="new_password2">Confirmez le mot de passe</label>
                <input type="password" id="new_password2" name="new_password2" class="input form-control" 
                       placeholder="Confirmez votre nouveau mot de passe"><br>
                       
                <!-- Bouton pour modifier le mot de passe -->
                <input type="submit" value="Modifier le mot de passe" style="background-color: #ffb000; height: 35px; width: 250px;">
            </form>
        </div>
        <div class="rond coler"></div>
    </div>
    
</body>
</html>
